<!DOCTYPE html>
<html>
<head>
	<title></title>

 <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="materialize/css/materialize.min.css">
  <link rel="stylesheet" href="mystyle.css"> 
         
</head>
<body>

<nav>
   <div class="nav-wrapper">
     <a href="#!" class="brand-logo">Checkr</a>
      <ul class="right hide-on-med-and-down">
          <li><a href="index.html">Home</a></li>
          <li><a href="create-an-event.html">Create an Event</a></li>
          <li><a href="event-registration.html">Event Registration</a></li>
          <li><a href="selfie-check-in.html">Selfie check in</a></li>
          <li><a href="take-photo.html">Take photo</a></li>
          <li><a href="event-check-list.html">Event check list</a></li>
          <li><a href="create-event-url.html">Create Event url</a></li>
      </ul> 
   </div>
 </nav>


<div class="container center-align take-a-selfie">


   <h4 class="snap-selfie-h4">Snap a selfie so we can verify your identity at the event</h4>
   
<!--     <div class="row">
       <div class="col s12 m3 l2" ><p></p></div>
       <div class="col s12 m6 l8 z-depth-1" >
          <p class="center-align"> -->
          

  <div class="card">
            <div class="card-image">
              <img src="images/sample-1.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>Selfie goes in here.</p>
            </div>
            <div class="card-action">
              <div class="btn">
              <span>Upload Selfie</span>
              <input type="file" />
            </div>
            </div>
          </div>
          </p>
       </div>
       <div class="col s12 m3 l2" ><p></p></div>
    </div>
    <div class="row">
      <div class="col s12 center-align">
        <button data-target="modal1" class="waves-effect waves-light btn-large modal-trigger">Submit</button>
      </div>
    </div>
 <!-- Modal Structure -->

 <div id="modal1" class="modal center-align">
   <div class="modal-content">
     <h4>Lookin' Good!</h4>
     <p>You've been registered for "Example Event."</p><p>Your selfie will be used to verify your identity when you arrive at the event.<p>We will be sending you an email shortly with more information about the event.</p>
  
   </div>
   <div class="modal-footer center-align">
     <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Exit</a>
   </div>
 </div>


</div>

<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container center-align">
            &copy; 2015 Copyright Text
            </div>
          </div>
        </footer>

        <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <!-- Compiled and minified JavaScript -->
  <script src="materialize/js/materialize.min.js"></script>

  <script src="js/modal.js"></script>

</body>
</html>

