<% if @event.active? %>
<img src="images/hackathon.jpg" width="100%">
<div class="container margintop60">
  <div class="center-align">
    <h4> Emerge Hackathon</h4>
    <h3>Friday, May 1st, 2nd & 3rd </h3>
    <p>* LOCATION: MIAMI DADE COLLEGE - IDEA CENTER</p>
    <ul class="event-hours">
      <li> Friday, May 1st | 6:00pm - 10:00pm </li>
      <li> Saturday, May 2nd | 8:00am - 9:00am </li>
      <li> Sunday, May 3rd | 9:00am - 2:30am </li>
    </ul>
    
    <a class="waves-effect waves-light btn-large margintop60"><i class="mdi-content-content-paste left"></i>Register + Pre-Checking</a>
  </div>
</div>
<% else %>
<div class="valign-wrapper">
  <div class="container center-align">
    <h1 class="home-title">Congratulations!<h1>
    <h3>Copy the link below to share with your attendees so they can register and check in.</h3>
    <form action="social-icons">
      <input type="text" />
    </form>
    <div>
      <ul class="social-icons">
        <li><i class="fa fa-twitter-square fa-4x"></i></li>
        <li><i class="fa fa-facebook-square fa-4x"></i></li>
        <li><i class="fa fa-google-plus-square fa-4x"></i></li>
      </ul>
      
      <div class="row">
        <div class="col s12 m3 l2" ><p></p></div>
        <div class="col s12 m6 l8" >
          <p class="center-align"></p>
        </div>
        <div class="col s12 m3 l2" ><p></p></div>
      </div>
    </div>
    <a class="waves-effect waves-light btn-large">View your event page</a>
  </div>
</div>
<% end %>
