<!DOCTYPE html>
<html>
<head>
	<title></title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="materialize/css/materialize.min.css">
  <link rel="stylesheet" href="mystyle.css"> 
  

  <!-- Compiled and minified JavaScript -->
  <script src="materialize/js/materialize.min.js"></script>
         
</head>
<body>


<nav>
   <div class="nav-wrapper">
     <a href="#!" class="brand-logo">Checkr</a>
      <ul class="right hide-on-med-and-down">
          <li><a href="index.html">Home</a></li>
          <li><a href="create-an-event.html">Create an Event</a></li>
          <li><a href="event-registration.html">Event Registration</a></li>
          <li><a href="selfie-check-in.html">Selfie check in</a></li>
          <li><a href="take-photo.html">Take photo</a></li>
          <li><a href="event-check-list.html">Event check list</a></li>
          <li><a href="create-event-url.html">Create Event url</a></li>
      </ul> 
   </div>
 </nav>

<img src="images/hackathon.jpg" width="100%">

<div class="container margintop60">

<div class="center-align">
   <h4> Emerge Hackathon</h4>

<h3>Friday, May 1st, 2nd & 3rd </h3>

<p>* LOCATION: MIAMI DADE COLLEGE - IDEA CENTER</p>

<ul class="event-hours">
<li> Friday, May 1st | 6:00pm - 10:00pm </li>
<li> Saturday, May 2nd | 8:00am - 9:00am </li>
<li> Sunday, May 3rd | 9:00am - 2:30am </li>
</ul>
    

<a class="waves-effect waves-light btn-large margintop60"><i class="mdi-content-content-paste left"></i>Register + Pre-Checking</a>


  </div>

</div>


 <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container center-align">
            &copy; 2015 Copyright Text
            </div>
          </div>
        </footer>

        <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <!-- Compiled and minified JavaScript -->
  <script src="materialize/js/materialize.min.js"></script>

  <script src="js/modal.js"></script>

</body>
</html>

