
<fb:login-button scope="public_profile,email,user_birthday,user_events,manage_pages" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>

<div
 class="fb-like"
 data-share="true"
 data-width="450"
 data-show-faces="true">
</div>
